* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  grid-gap: 30px;
}

.input-form {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
}

.form-input {
  border: 2px solid #b004a3;
  border-radius: 6px;
  min-height: 14px;
}

#container {
  display: flex;
  justify-content: center;
}